-
    var bread = ['票券','搜索'];
    var search = [
        {
            main: '景点地区',
            morepick: false,
            pricerange: false,
            downpick: true,
            taglist: [
                {
                    name: '不限',
                    result: 0
                },
                {
                    name: '澳洲',
                    result: 0
                },
                {
                    name: '美洲',
                    result: 0
                }
            ]
        }
    ]
    var hadpick = [{type: '主题', name: '休闲'},{type: '主题', name: '海岛'}];
    var tabobj3 = [{text: '产品显示', iscur: true},{text: '排期显示', iscur: false}];
