-
    var bread = ['首页','出境游','香港迪士尼乐园'];
    var prodInfo = [{text: '景点等级',con: '5A级景区'},{text: '景点地址',con: '香港大屿山 香港迪士尼乐园度假区'},{text: '开放时间',con: '周一至周五10:00~17:00，周末08:00~22:00'}];
    var tabobj = [{text: '景点介绍', iscur: true},{text: '交通指南', iscur: false},{text: '销售须知', iscur: false}, {text: '资料下载', content: '', iscur: false}];
