
.order-footer
    .order-footer-con
        //span 行程信息、条款及说明
        .footer-agree-item
            .footer-agree-con
                i.checkbox-item.icon-uncheck
                    .m-popover-con.s-up.popover-red 请勾选此项
                p “行走网”作为第三方交易平台，并非此订单产品的实际服务提供商。为了保障您的权益，敬请在下单前仔细了解产品详情。一旦下单成功，已表明您认可并同意本次交易。
        a.back-btn <em class="icon-back-arrow"></em>返回上一步
        a.submit-btn 提交订单

