-
    var hotel_search_list = [
    {
    place: '阿姆斯特丹市中心',
    place_eng:'Amsterdam City Centre',
    city: '阿姆斯特丹',
    city_eng:'Amsterdam',
    country:'荷兰',
    country_eng: "Netherlands",
    hotel_counts:88
    },
    {
    place: '阿姆斯特丹市中心',
    place_eng:'Amsterdam City Centre',
    city: '阿姆斯特丹',
    city_eng:'Amsterdam',
    country:'荷兰',
    country_eng: "Netherlands",
    hotel_counts:88
    },
    {
    place: '广州飞翔公园',
    place_eng:'Guangzhou FeiXiang park',
    city: '广州',
    city_eng:'Guangzhou',
    country:'中国',
    country_eng: "china",
    hotel_counts:88
    },
    {
    place: '广州飞翔公园',
    place_eng:'Guangzhou FeiXiang park',
    city: '广州',
    city_eng:'Guangzhou',
    country:'中国',
    country_eng: "china",
    hotel_counts:88
    },
    {
    place: '广州飞翔公园',
    place_eng:'Guangzhou FeiXiang park',
    city: '广州',
    city_eng:'Guangzhou',
    country:'中国',
    country_eng: "china",
    hotel_counts:88
    },
    {
    place: '广州飞翔公园',
    place_eng:'Guangzhou FeiXiang park',
    city: '广州',
    city_eng:'Guangzhou',
    country:'中国',
    country_eng: "china",
    hotel_counts:88
    },
    {
    place: '广州飞翔公园',
    place_eng:'Guangzhou FeiXiang park',
    city: '广州',
    city_eng:'Guangzhou',
    country:'中国',
    country_eng: "china",
    hotel_counts:88
    },
    {
    place: '广州飞翔公园',
    place_eng:'Guangzhou FeiXiang park',
    city: '广州',
    city_eng:'Guangzhou',
    country:'中国',
    country_eng: "china",
    hotel_counts:88
    }
    ]

    var tabHot = [
        {text: '曼谷', iscur: true},
        {text: '中国香港', iscur: false},
        {text: '新加坡', iscur: false},
        {text: '东京', iscur: false},
        {text: '普吉岛', iscur: false},
        {text: '吉隆坡', iscur: false},
        {text: '清迈', iscur: false}
    ];
    var tabPlace = [
    {text: '境外', iscur: true},
    {text: '国内', iscur: false}
    ];

    var hotPlace = [
    {
        item_pic: '../../static/images/hotel/tokyo.png',
        chineseName: '东京',
        englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    },
    {
    item_pic: '../../static/images/hotel/tokyo.png',
    chineseName: '东京',
    englishName: 'Tokyo'

    }
    ];

    var hotHotels = [
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    },
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    },
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    },
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    },
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    },
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    },
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    },
    {
    item_pic: '../../static/images/hotel/hotel.png',
    description: '曼谷优本常青坊纳优本常青坊本纳沙通酒店 ( Urbana Sathorn …',
    stars:[1,1,1,1,0],
    price: 2388

    }
    ]