script.
  var commonUser = {
    '4029819e5fc44a09015fd72092d57e95': {
      name: '罗大佑',
      tel: '0769-80987777',
      mobile: '13580487777',
      email: 'helloworld@qq.com'
    },
    '5029819e5fc44a09015fd72092d57e95': {
      name: '罗小军',
      mobile: '13580487777',
      tel: '0769-80987777',
      email: 'helloworld@qq.com'
    },
    '6029819e5fc44a09015fd72092d57e95': {
      name: '周孝正',
      tel: '0769-80987777',
      mobile: '13580487777',
      email: 'helloworld@qq.com'
    },
    '7029819e5fc44a09015fd72092d57e95': {
      name: '周杰伦',
      tel: '0769-80987777',
      mobile: '13580487777',
      email: 'helloworld@qq.com'
    },
    '8029819e5fc44a09015fd72092d57e95': {
      name: '张三丰',
      tel: '0769-80987777',
      mobile: '13580487777',
      email: 'helloworld@qq.com'
    },
    '9029819e5fc44a09015fd72092d57e95': {
      name: '童一心',
      tel: '0769-80987777',
      mobile: '13580487777',
      email: 'helloworld@qq.com'
    },
    '9129819e5fc44a09015fd72092d57e95': {
      name: '周小川',
      tel: '0769-80987777',
      mobile: '13580487777',
      email: 'helloworld@qq.com'
    }
  }
