-
    var left_centerNavs = [
    	{text: '订单管理',url: "#", children: [
    						{text: '未付款', url: "#"},
    						{text: '已付款', url: "#"}]},
    	{text: '账号管理', url: "#", children: []}
    ];
    var search_items = [
    	{label: '账号',placeholder: '请输入账号'},
    	{label: '手机号',placeholder: '请输入手机号'}
    ]
   