-
    var left_centerNavs = [
        {text: '对账单管理',url: "#", children: [
            {text: '未付款', url: "#"},
            {text: '已付款', url: "#"}]},
    	{text: '订单管理',url: "#", children: [
    						{text: '未付款', url: "#"},
    						{text: '已付款', url: "#"}]},
        {text: '账号管理', url: "#", children: []},
        {text: '账号安全', url: "#", children: []},
        {text: '个人信息', url: "#", children: []},
    	{text: '我的收藏', url: "#", children: []}
    ];
    var search_items = [
    	{label: '订单编号',placeholder: '请输入订单编号'},
    	{label: '商家订单号',placeholder: '请输入商家订单号'},
    	{label: '线路名称',placeholder: '请输入线路关键字'},
    	{label: '客人名称',placeholder: '请输入客人全称'},
    	{label: '酒店名称',placeholder: '请输入酒店名称'}
    ]

    var ques_centerNavs = [
        {text: '个签常识问题',url: "#" },
        {text: '个签材料问题', url: "#"},
        {text: '护照办理须知', url: "#"},
        {text: '在领事馆申办签证被拒后，可否再到大使馆重新申请？', url: "#"},
        {text: '拒签后签证费会退还么？', url: "#"},
        {text: '使、领馆拒绝发给签证怎么办？', url: "#"},
        {text: '申请人尚未离境签证就过期了，怎么办？', url: "#"},
        {text: '申办外国签证，对护照有何要求？', url: "#"},
        {text: '存款证明是什么？', url: "#"}
    ];
   