-
    var left_orderDetailNavs = [
    	{text: '基本信息',value: '', 
            innerInfos: [
                {text: '订单号：', content: "201712070002155"},
                {text: '商家订单号：', content: "123"},
                {text: '订单状态：', content: "已取消"}
            ]
        },
    	{text: '费用清单：', value: '￥100',
            innerInfos: [
                {text: '房间费：', content: "－¥260"},
                {text: '房间费：', content: "¥260"}
            ]
        },
        {text: '结算清单：', value: '￥0',
            innerInfos: [
                {text: '已付金额：', content: "－¥100"},
                {text: '未付金额：', content: "¥0"}
            ]
        }
    ];
    var search_items = [
    	{label: '订单编号',placeholder: '请输入订单编号'},
    	{label: '线路名称',placeholder: '请输入线路关键字'},
    	{label: '客人名称',placeholder: '请输入客人全称'}
    ]
   