table(style='width: auto')
    tr
        th.cruise-name-th 邮轮名称
        th.cruise-num-th 人数
        th.start-date-th 出发时间
        th.end-date-th 返程时间
        th.days-th 行程天数
    tr
        td
            span.cruise-name 广州南沙起航—菲律宾航次【副楼】闲雅阁/养生阁标准双人房
        td.cruise-num 1
        td.start-date 2017-12-20
        td.end-date 2017-12-20
        td.days 2天
