table(style='width: auto')
    tr
        th.cruiseRoom-name-th 舱房名称
        th.cruiseRoom-num-th 数量
        th 可住人数
        th.cruiseRoom-layer-th 楼层
    tr
        td.cruiseRoom-name.dis --
        td.cruiseRoom-num.dis --
        td.dis --
        td.cruiseRoom-layer.dis --
        