table
    tr
        th.getTicket-name-th 姓名
        th.getTikcet-tel-th 手机
        th 电话
        th 邮箱
        th 证件类型
        th 证件号
    tr
        td.getTicket-name.dis --
        td.getTikcet-tel.dis --
        td.getTicket-phone 123456789
        td.getTicket-email.dis --
        td.dis --
        td.dis --
        