table(style='width: auto')
    tr
        th.insuranceP-name-th 投保人
        th.insurance-name-th 保险名称
        th.insurance-No-th 保单号
        th.insurance-num-th 数量
        th.insurance-price-th 小计
        th.insurance-oper-th 操作
    tr
        td
            span.insuranceP-name --
        td
            span.insurance-name --
        td
            span.insurance-No 保险公司处理中
        td
            span.insurance-num 1份
        td
            span.insurance-price ¥80
        td
            span.insurance-oper --