table
    tr
        th.create-date-th 创建时间
        th.create-depart-th 创建部门
        th.creator-th 创建人
        th 备注内容
    tr
        td.create-date 2017-12-15
        td.create-depart B2B门户-(gzlds)演示账号GZLDS
        td.creator 测试演示(020-86347054)
        td 123
    tr
        td.create-date 2017-12-15
        td.create-depart B2B门户-(gzlds)演示账号GZLDS
        td.creator 测试演示(020-86347054)
        td 123
.add-note
    i.plus_icon
    font 添加新备注