
.order-footer
    .order-footer-con
        a 
            i.back_link
            span.back_font 返回订单列表
        span.checked-num(style='margin-right:60px;display: inline-block;margin-left:524px')
            label 已选订单
            span 5
        span.checked-price
            label 总额
            span ￥30000
        a.submit-btn(href='../checkstand/checkStandUnpay.html') 下一步