table(style='width: auto')
    tr
        th.price-date-th(width='120')
            span 日期
        th.price-fee-th 费用
        th 注意事项
    tr
        td.price-date.dis --
        td.price-fee.dis --
        td.attention.dis --