table(style='width: auto')
    tr
        th.price-date-th
            span 日期
        th.price-fee-th 费用
        th.price-num-th 数量
        th 注意事项
    tr
        td.price-date 2017-12-19
        td.price-fee ¥180
        td.price-num 2
        td.attention 一经预订不退不改 客人入住必须出示本人身份证