table
    tr
        th 产品名称
        th 入住时间
        th 离开时间
        th 入住天数
        th 数量
        th 总计
    tr
        td
            span.product-name 富丽湾温泉（原富都度假村）--【副楼】闲雅阁/养生阁丽湾 -- 养生阁标准双人房
        td
            span.start-date 2017-12-20
        td
            span.end-date 2017-12-20
        td 2天
        td 2
        td ¥0