table
    tr
        th 产品名称
        th 人数
        th 出发时间
        th 返程时间
        th 行程天数
    tr
        td
            span.product-name 富丽湾温泉（原富都度假村）--【副楼】闲雅阁/养生阁丽湾 -- 养生阁标准双人房
        td 1
        td
            span.start-date 2017-12-20
        td
            span.end-date 2017-12-20
        td 2天