table
    tr
        th 景点名称
        th 票券名称
        th 出游时间
        th 出票方式
        th 出价
        th 数量
        th 总计
    tr
        td
            span.product-name 上海迪士尼
        td
            span.ticket-name 上海迪士尼乐园－上海迪士尼乐园［两日联票］标准票
        td
            span.travel-date 2017-12-20
        td 
            span.ticket-type 后台出票
        td 2天
        td 1
        td ¥0