table
    tr
        th.upOrder-No-th 变更单号
        th.upOrder-tit-th 变更单标题
        th 提交时间
        th 变更前
        th 变更后
        th 备注
        th 状态
    tr
        td.dis --
        td.dis --
        td.dis --
        td.dis --
        td.dis --
        td.dis --
        td.dis --
        