ul.vistor-data-change
  li.save-common-vistor
    span.radio-16
    span.radio-text 保存
  li.change-common-vistor
    //- span.exchange
    //- span.radio-text 更换
  li.clean-common-vistor
    span.trash
    span.radio-text 清空
  .clear
