extends ../../component/common/layout
include ../../component/common/mixin
append head
    style.
        h2 {padding: 20px 0;}
        .tpl {width: 1190px;margin: auto;padding: 40px;}
        .icon-demo div {display: inline-block;vertical-align: middle;margin: 10px;padding: 0;float: inherit;}
        .popover-demo .btn {margin: 10px}
block content
    .tpl
        h2 icon
        .icon-demo
            .pro-type-icon.gty
            .pro-type-icon.zyx
            .pro-type-icon.ddwl
            .pro-type-icon.jd
            .pro-type-icon.pq
            .pro-type-icon.pq
            .pro-type-icon.yl
            .right-arrow-wrp
            .hot-separate
            .days-icon
            .check-box
            .check-box.checked
            .down-ctl
            .up-ctl
            .sclose(style='background-color: #000')
            .down-screen-icon
            .up-screen-icon
            .eye-icon
            .eye-icon.hide
            .check-icon
            .uncheck-icon
            .minus-icon
            .plus-icon
            .more-btn
            .safe-icon
            .service-icon
            .up-arrow-icon
            .down-arrow-icon
            .left-arrow-icon
            .right-arrow-icon
            .step-icon
            .step-icon.active
            .red-tick-icon
            .adult-icon
            .child-icon
            .baby-icon
            .print-icon
            .download-icon
            .file-icon
            .y-star-icon
            .wifi-icon
            .parking-lot-icon
            .restaurant-icon
            .gym-icon
            .chess-room-icon
            .coffee-house-icon
            .bar-icon
            .morning-call-icon
            .karaoke-icon
            .a-icon
            .date-icon
            .down-double-arrow
            .down-double-arrow.up
            .arrow-down
            .arrow-down.up
            .arrow-right
            .arrow-left
            .trip-restaurant-icon
            .trip-stay-icon
        h2 popover
        .popover-demo
            span.btn.popover 下气泡弹出框
                .popover-down 气泡弹出框
            span.btn.popover 上气泡弹出框
                .popover-up 气泡弹出框
            span.btn.popover 左气泡弹出框
                .popover-left 气泡弹出框
            span.btn.popover 右气泡弹出框
                .popover-right 气泡弹出框