-
    var placeTab = [{
        tab: '国内热门',
        city: [{
            name: '上海(SHA)',
            nameStr: '上海'
        },{
            name: '北京(BJS)',
            nameStr: '北京'
        },{
            name: '香港(HKG)',
            nameStr: '香港'
        },{
            name: '广州(CAN)',
            nameStr: '广州'
        }]
    },{
        tab: '国际热门',
        city: [{
            name: '首尔(SEL)',
            nameStr: '首尔'
        },{
            name: '台北(TPE)',
            nameStr: '台北'
        },{
            name: '东京(TYO)',
            nameStr: '东京'
        },{
            name: '新加坡(SIN)',
            nameStr: '新加坡'
        }]
    },{
        tab: '亚洲',
        city: [{
            name: '香港(HKG)',
            nameStr: '香港'
        }]
    },{
        tab: '欧洲',
        city: [{
            name: '巴黎(PAR)',
            nameStr: '巴黎'
        }]
    },{
        tab: '南美洲',
        city: [{
            name: '洛杉矶(LAX)',
            nameStr: '洛杉矶'
        }]
    },{
        tab: '非洲',
        city: [{
            name: '开罗(CAI)',
            nameStr: '开罗'
        }]
    }]
    var sortList = [{
        name: '价格',
        icon: 'up-screen-icon'
    },{
        name: '航程时长',
        icon: 'up-screen-icon'
    },{
        name: '出发时间',
        icon: 'up-screen-icon'
    },{
        name: '到达时间',
        icon: 'up-screen-icon'
    }]
    var filtrateList = [{
        title: '直飞/中转',
        list: [{
            name: '直飞',
            prc: '¥5,199'
            },{
            name: '1程中转',
            prc: '¥7,382'
        }]
    },{
        title: '航空公司',
        list: [{
            name: '意大利航空',
            prc: '¥6,474'
            },{
            name: '大韩航空',
            prc: '¥6,309'
            },{
            name: '芬兰航空',
            prc: '¥6,250'
            },{
            name: '南航',
            prc: '¥6,540'
        }]
    },{
        title: '航司联盟',
        list: [{
            name: '寰宇一家',
            prc: '¥6,474'
            },{
            name: '天合联盟',
            prc: '¥6,309'
            },{
            name: '星空联盟',
            prc: '¥6,250'
        }]
    },{
        title: '出发时间',
        list: [{
            name: '晚上(18:00 - 24:00)',
            prc: '¥6,474'
            },{
            name: '下午(12:00 - 18:00)',
            prc: '¥6,309'
            },{
            name: '上午(6:00 - 12:00)',
            prc: '¥6,250'
            },{
            name: '凌晨(0:00 - 6:00)',
            prc: '¥6,250'
        }]
    },{
        title: '到达时间',
        list: [{
            name: '晚上(18:00 - 24:00)',
            prc: '¥6,474'
            },{
            name: '下午(12:00 - 18:00)',
            prc: '¥6,309'
            },{
            name: '上午(6:00 - 12:00)',
            prc: '¥6,250'
            },{
            name: '凌晨(0:00 - 6:00)',
            prc: '¥6,250'
        }]
    }]