-
    var bread = ['首页','出境游','香港迪士尼乐园'];
    var prodInfo = [{text: '酒店等级',con: '豪华型'},{text: '酒店地址',con: '10 Tryon Street, Whakarewarewa 10 Tryon Street, Whakarewarewa 10 Tryon Street, Whakarewarewa'}];
    var tabobj = [{text: '酒店介绍', iscur: true},{text: '交通指南', iscur: false},{text: '销售须知', iscur: false}, {text: '资料下载', content: '', iscur: false}];
