-
    var bread = ['酒店','搜索'];
    var search = [
        {
            main: '预留房',
            morepick: false,
            pricerange: false,
            downpick: true,
            taglist: [
                {
                    name: '不限',
                    result: 0
                },
                {
                    name: '有预留房',
                    result: 0
                }
            ]
        },
        {
            main: '价格区间',
            morepick: false,
            downpick: false,
            pricerange: true,
            taglist: [
            	{
                    name: '不限',
                    result: 0
                },
                {
                    name: '500元以下',
                    result: 0
                },
                {
                    name: '501-1000元',
                    result: 0
                }
            ]
        },
        {
            main: '星级',
            morepick: false,
            downpick: false,
            pricerange: false,
            taglist: [
            	{
                    name: '不限',
                    result: 0
                },
                {
                    name: '三星',
                    result: 0
                },
                {
                    name: '五星',
                    result: 0
                }
            ]
        },
        {
            main: '主题',
            morepick: false,
            downpick: true,
            pricerange: false,
            taglist: [
            	{
                    name: '不限',
                    result: 0
                },
                {
                    name: '周边游',
                    result: 44
                },
                {
                    name: '50包邮',
                    result: 17
                }
            ]
        },
    ]
    var hadpick = [{type: '主题', name: '休闲'},{type: '主题', name: '海岛'}];
    var tabobj3 = [{text: '产品显示', iscur: true},{text: '排期显示', iscur: false}];
