-
    var contactInfo = [{text: '联系人姓名',placeholder: '请输⼊游客姓名',isrequired: true},{text: '联系人电话',placeholder: '请输⼊固定电话',isrequired: false},{text: '联系人手机',placeholder: '请输⼊游客手机号码',isrequired: true},{text: '联系人邮箱',placeholder: '请输⼊证件号码',isrequired: false}]
    var touristInfo = [{text: '游客姓名',placeholder: '请输⼊游客姓名',isrequired: true},{text: '手机号码',placeholder: '请输⼊游客手机号码',isrequired: true}]


