.com-search-pannel-header.travel-search-header
    .short-search-part
        .short-search-title 入住日期
        .short-search-input
            input(placeholder='请选择入住日期', id='start-date',class='start-date' readonly)
    .short-search-part
        .short-search-title 退房日期
        .short-search-input
            input(placeholder='请选择退房日期', id='end-date',class='end-date' readonly)
    .long-search-part
        .long-search-title 关键字
        .long-search-input
            input(placeholder='请输入关键字', class='key-word cruise-search')
    .seach-pannel-btn