.list-ctl-wrp
    .list-ctl-ctx
        ul
            li.select
                span 销量
                span.down-screen-icon
            li.select
                span 价格
                span.up-screen-icon
            li.select
                span 利润
                span.up-screen-icon
            li.list-cbox
                span.check-box.yct
                span.check-box-text 已成团
            li.list-cbox.toggle-price
                span.check-box.ycthj
                span.check-box-text 隐藏同行价
        .index-tab
            ul.right_float
                li.active 产品显示
                li 排期显示