.com-search-pannel-header.travel-search-header
    .long-search-part
        .long-search-title 关键字
        .long-search-input
            input(placeholder='请输入关键字', class='key-word ticket-search')
    .seach-pannel-btn