.com-search-pannel-header.travel-search-header
    .short-search-part
        .short-search-title 出发开始日期
        .short-search-input
            input(placeholder='请选择出发开始日期', id='start-date',class='start-date' readonly)
    .short-search-part
        .short-search-title 出发结束日期
        .short-search-input
            input(placeholder='请选择出发结束日期', id='end-date',class='start-date' readonly)
    .long-search-part
        .long-search-title 关键字
        .long-search-input
            input(placeholder='请输入关键字', class='key-word travel-search')
    .seach-pannel-btn