-
    var bread = ['首页','出境游','香港迪士尼乐园'];
    var prodInfo = [{text: '产品编号',con: 'As23131321'},{text: '出发城市',con: '广州'},{text: '目的城市',con: '欧洲/芬兰/瑞典/丹麦/冰岛'},{text: '集合地点',con: '白云机场'}];
    var tabobj = [{text: '产品特色', iscur: true},{text: '行程介绍', iscur: false},{text: '交通指南', iscur: false},{text: '预订须知', iscur: false}, {text: '服务项目', iscur: false},{text: '资料下载', iscur: false},{text: '销售须知', iscur: false}, {text: '资料下载', content: '', iscur: false}];
